@media (max-width: 450px) {
  .timer__label+.timer__label {
    margin-left: 5px;
  }
  .timer__btn+.timer__btn {
    margin-left: 5px;
  }
  .timer__btn {
    padding: 8px 12px;
    font-size: 15px;
  }
  .timer__inp {
    padding: 0 12px;
  }
  .timer__items {
    justify-content: space-between;
  }
  .btns {
    left: 50%;
    transform: translateX(-50%);
    right: unset;
  }
}